@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>email:</strong>   <a href="mailto:stevan.freeborn@gmail.com">stevan.freeborn@gmail.com</a><br/>
    <strong>twitter:</strong> <a href="https://twitter.com/stevan_freeborn">@@stevan_freeborn</a>
</address>